.island, .leaves, .lines, .stretch, .small-island {
  animation-duration: 1500ms
  animation-name: float
  animation-iteration-count: infinite
  animation-timing-function: ease-in-out
  animation-direction: alternate
  animation-play-state: running
  overflow: visible
}

.leaves {
  width: 500px
  animation-delay: 340ms
}

.lines {
  animation-delay: 100ms
}

.stretch {
  animation-name: stretch
  animation-delay: 140ms
}

.small-island {
  animation-duration: 2000ms
}

@keyframes stretch {
  from {
    transform: translateY(0px)
  }
  to {
    transform: translateY(2px)
  }
}

@keyframes float {
  from {
    transform: translateY(4px)
  }
  to {
     transform: translateY(-4px)
  }
}