// The importants are due to the Parallax library overwritting left and top, setting them to 0.
// It also uses translate3d, so we can't position them with that.
.cloud {
  position: absolute;
  opacity: 0.8;

  &.cloud-0 {
    left: -820px !important;
    top: 656px !important;
  }

  &.cloud-1 {
    left: -304px !important;
    top: -253px !important;
  }

  &.cloud-2 {
    left: -400px !important;
    top: 291px !important;
  }

  &.cloud-3 {
    left: -790px !important;
    top: -129px !important;
  }

  &.cloud-4 {
    left: 784px !important;
    top: 395px !important;
  }

  &.cloud-5 {
    left: 690px !important;
    top: -469px !important;
  }

  &.cloud-6 {
    left: 1520px !important;
    top: 251px !important;
  }

  &.cloud-7 {
    left: 1056px !important;
    top: -165px !important;
  }
}
