
.cloud {
  z-index: -3
  position: absolute
  left: 0
  top: 0
  transform: scale(2)
  opacity: 0.8

  &.cloud-1 {
    left: -304px !important
    top: -256px !important
  }
  
  &.cloud-2 {
    left: -400px !important
    top: 400px !important
  }
  
  &.cloud-3 {
    left: 1056px !important
    top: -56px !important
  }
  
  &.cloud-4 {
    left: 784px !important
    top: 504px !important
  }
  
  &.cloud-5 {
    left: -790px !important
    top: -20px !important
  }
  
  &.cloud-6 {
    left: 690px !important
    top: -440px !important
  }
  
  &.cloud-7 {
    left: 1520px !important
    top: 360px !important
  }
  
  &.cloud-8 {
    left: -820px !important
    top: 765px !important
  }
}
