.island {
  position: absolute
  z-index: -1
  transition: left 0.5s ease, top 0.5s ease, opacity 0.1s ease, visibility 0.1s ease
  
  &.pond {
    left: -444px
    top: -164px
  }
  
  &.tree {
    left: -300px
    top: 400px
  }

  &.trees {
    left: 876px
    top: -116px
  }
  
  &.tent {
    left: 672px
    top: 446px
  }
  
  &.double-tree {
    left: -1070px
    top: 170px
  }
  
  &.forest {
    left: 270px
    top: -530px
    
  }
  
  &.forest-1 {
    left: -750px
    top: 720px
  }  
  &.log {
    left: 1494px
    top: -320px
  }
  
  &.shrooms {
    left: 1280px
    top: 700px
  }
  
  &.shrooms-1 {
    left: -720px
    top: -570px
  }
  
  &.small-island {
    z-index: -2
    height: 82px
    width: 102px
  }
  
  // Center
  &.small-1 {
    left: 732px
    top: -96px
  }
  
  &.small-2 {
    left: -120px
    top: -64px
  }
  
  &.small-3 {
    left: 36px
    top: 540px
  }

  &.small-4 {
    left: 390px
    top: 785px
  }

  &.small-5 {
    left: 190px
    top: -370px
  }
  
  // Left side
  &.small-6 {
    left: -800px
    top: 440px
  }
  
  &.small-7 {
    left: -576px
    top: 120px
  }
  
  &.small-8 {
    left: -880px
    top: -268px
  }
  
  // Right side
  &.small-9 {
    left: 1400px
    top: 600px
  }
  
  &.small-10 {
    left: 1000px
    top: 320px
  }
  
  &.small-11 {
    left: 1570px
    top: 150px
  }
  
  &.small-12 {
    left: 1390px
    top: -440px
  }
}

.island, .leaves, .lines, .stretch, .small-island {
  animation-duration: 1500ms
  animation-name: float
  animation-iteration-count: infinite
  animation-timing-function: ease-in-out
  animation-direction: alternate
  overflow: visible
}

.leaves {
  animation-delay: 340ms
}

.lines {
  animation-delay: 100ms
}

.stretch {
  animation-name: stretch
  animation-delay: 140ms
}

.small-island {
  animation-duration: 2000ms
}

@keyframes stretch {
  from {
    transform: translate3d(0px, 0px, 0px)
  }
  to {
    transform: translate3d(0px, 2px, 0px)
  }
}

@keyframes float {
  from {
    transform: translate3d(0px, 4px, 0px)
  }
  to {
     transform: translate3d(0px, -4px, 0px)
  }
}