@media (max-width: 920px) {
  .footer {
    flex-direction: column;
    align-items: center;

    .airhorn-count {
      margin-bottom: 28px;
    }
  }

  .stats-panel {
    left: calc(50% - 113px);
    bottom: 140px;
  }

  @-moz-document url-prefix() {
    .stats-panel {
      left: calc(50% - 118px);
    }
  }

  .island {
    &.pond {
      left: -271px;
      top: 204px;
    }

    &.trees {
      left: 744px;
      top: 390px;
    }

    &.tent {
      left: 536px;
      top: 970px;
    }

    &:not(.pond):not(.trees):not(.tent):not(.small-island):not(.tree) {
      visibility: hidden;
      opacity: 0;
    }

    &.small-island {
      &.small-1 {
        left: 538px;
        top: 194px;
      }

      &.small-3 {
        left: -184px;
        top: 710px;
      }

      &.small-10 {
        left: 745px;
        top: 790px;
      }

      &:not(.small-1):not(.small-3):not(.small-10) {
        visibility: hidden;
        opacity: 0;
      }
    }
  }
}

@media (max-width: 690px) {
  .video-airhorn {
    max-width: 90%;
  }

  @-moz-document url-prefix() {
    .video-airhorn {
      width: 90% !important;
    }
  }

  .island {
    &.tree {
      width: calc(@width / 2);
      height: calc(@height / 2);
      background-size: @height @width;
      visibility: visible;
      opacity: 1;
      left: -50px;
      top: 740px;
    }

    &.tent {
      left: 480px;
      top: 880px;
    }
  }
}

@media (max-width: 606px) {
  .stats-panel {
    bottom: 164px;
  }
}
