offset = 252px;

.crossfade {
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;

  &.one {
    animation-name: crossfade-one;
    opacity: 1;

    .stats-btn {
      animation-name: crossfade-one-btn;
    }
  }

  &.two {
    animation-name: crossfade-two;
    opacity: 0;
  }

  &.one-reverse {
    animation-name: crossfade-one-reverse;
    transform: translate3d(-1000px, 0px, 0px);
    visibility: hidden;

    .stats-btn {
      animation-name: crossfade-one-btn-reverse;
    }
  }

  &.two-reverse {
    animation-name: crossfade-two-reverse;
    opacity: 1;
  }
}

@keyframes crossfade-one {
  0% {
    transform: translate3d(0px, offset, 0px);
    visibility: hidden;
  }
  100% {
    transform: translate3d(0px, 0px, 0px);
    visibility: visible;
  }
}

@keyframes crossfade-one-btn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes crossfade-two {
  0% {
    transform: translate3d(0px, 0px, 0px);
    opacity: 1;
  }
  100% {
    transform: translate3d(0px, - offset, 0px);
    opacity: 0;
  }
}

@keyframes crossfade-one-reverse {
  0% {
    transform: translate3d(0px, 0px, 0px);
    visibility: visible;
  }
  100% {
    transform: translate3d(0px, offset, 0px);
    visibility: hidden;
  }
}

@keyframes crossfade-two-reverse {
  0% {
    transform: translate3d(0px, - offset, 0px);
    opacity: 0;
  }
  100% {
    transform: translate3d(0px, 0px, 0px);
    opacity: 1;
  }
}

@keyframes crossfade-one-btn-reverse {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
