color-brown = #5E4634
color-orange = #FF7555
color-gray = #222222

body {
  font-family: roboto
  display: flex
  padding: 0
  margin: 0
  overflow: hidden
}

#app {
  display: flex;
  flex: 1
  flex-direction: column
  justify-content: center
  align-items: center

  .container {
    position: relative;
  }
}

.content {
  z-index: 1
  top: -64px
  position: relative
  display: flex
  flex-flow: column
  align-items: center
  
  .title {
    color: color-gray
    font-size: 64px
    line-height: 68px
    margin: 0
  }
  
  .message {
    color: color-brown
    font-size: 15px
    line-height: 24px
    opacity: 0.6
    
    a {
      color: color-brown
    }
  }
}

.footer {
  position: fixed
  bottom: 0
  left: 0
  right: 0
  display: flex
  justify-content: center
  background-color: white
  opacity: 0.98
  padding: 18px 20px
  font-size: 18px
  line-height: 24px
  box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, .1)
  
  .airhorn-count {
    flex: 0.5
    display: flex
    font-size: 12px
    line-height: 16px
    font-weight: 500
    align-items: center
    
    .count-text {
      margin-left: 10px

      .count {
        color: #666
      }
      
      .and-counting {
        color: #ccc
      }
    }
  }

  .main-text, a {
    display: flex
    align-items: center;
    color: color-brown  
  
    .arrow {
      text-decoration: none
    }
  }
}

.island {
  position: absolute
  z-index: -1
  
  &.pond {
    left: -444px
    top: -164px
  }
  
  &.tree {
    left: -300px
    top: 400px
  }

  &.trees {
    left: 876px
    top: -116px
  }
  
  &.tent {
    left: 672px
    top: 446px
  }
  
  &.double-tree {
    left: -1070px
    top: 170px
  }
  
  &.forest {
    left: 270px
    top: -530px
    
  }
  
  &.forest-1 {
    left: -750px
    top: 720px
  }  
  &.log {
    left: 1494px
    top: -320px
  }
  
  &.shrooms {
    left: 1280px
    top: 700px
  }
  
  &.shrooms-1 {
    left: -720px
    top: -570px
  }
  
  &.small-island {
    z-index: -2
    height: 82px
    width: 102px
  }
  
  // Center
  &.small-1 {
    left: 732px
    top: -96px
  }
  
  &.small-2 {
    left: -120px
    top: -64px
  }
  
  &.small-3 {
    left: 36px
    top: 540px
  }

  &.small-4 {
    left: 390px
    top: 785px
  }

  &.small-5 {
    left: 190px
    top: -370px
  }
  
  // Left side
  &.small-6 {
    left: -800px
    top: 440px
  }
  
  &.small-7 {
    left: -576px
    top: 120px
  }
  
  &.small-8 {
    left: -880px
    top: -268px
  }
  
  // Right side
  &.small-9 {
    left: 1400px
    top: 600px
  }
  
  &.small-10 {
    left: 1000px
    top: 320px
  }
  
  &.small-11 {
    left: 1570px
    top: 150px
  }
  
  &.small-12 {
    left: 1390px
    top: -440px
  }
}

#parallax {
  position: absolute
}

.cloud {
  z-index: -3
  position: absolute
  left: 0
  top: 0
  transform: scale(2)
  opacity: 0.8

  &.cloud-1 {
    left: -304px
    top: -256px
  }
  
  &.cloud-2 {
    left: -400px
    top: 400px
  }
  
  &.cloud-3 {
    left: 1056px
    top: -56px
  }
  
  &.cloud-4 {
    left: 784px
    top: 504px
  }
  
  &.cloud-5 {
    left: -790px
    top: -20px
  }
  
  &.cloud-6 {
    left: 690px
    top: -440px
  }
  
  &.cloud-7 {
    left: 1520px
    top: 360px
  }
  
  &.cloud-8 {
    left: -820px
    top: 765px
  }

  &.small {
    display: none
    z-index: -4
    transform: scale(0.5)
      
    // center
    &.cloud-1 {
      left: 732px
      top: -96px
    }
    
    &.cloud-2 {
      left: -120px
      top: -64px
    }
    
    &.cloud-3 {
      left: 120px
      top: 64px
    }
    
    &.cloud-4 {
      left: -24px
      top: 480px
    }
    
    // Left side
    &.cloud-5 {
      left: -800px
      top: 440px
    }
    
    &.cloud-6 {
      left: -456px
      top: 120px
    }
    
    &.cloud-7 {
      left: -880px
      top: -128px
    }
    
    // Right side
    &.cloud-8 {
      left: 1400px
      top: 600px
    }
    
    &.cloud-9 {
      left: 1000px
      top: 320px
    }
  }
}

.add-btn {
  background: white
  border: 2px dashed color-brown
  border-radius: 30px
  width: 240px
  height: 50px
  text-align: center
  font-size: 18px
  color: color-orange
  line-height: 50px
  text-transform: uppercase
  transition: all 100ms ease-in-out
  cursor: pointer
  text-decoration: none
  display: block
  
  &:hover {
    color: white
    background-color: color-brown
    border: 2px solid color-brown
  }
}

.video-airhorn {
  height: 276px
  width: 681px
}

.island, .leaves, .lines, .stretch, .small-island {
  animation-duration: 1500ms
  animation-name: float
  animation-iteration-count: infinite
  animation-timing-function: ease-in-out
  animation-direction: alternate
  animation-play-state: running
  overflow: visible
}

.leaves {
  width: 500px
  animation-delay: 340ms
}

.lines {
  animation-delay: 100ms
}

.stretch {
  animation-name: stretch
  animation-delay: 140ms
}

.small-island {
  animation-duration: 2000ms
}

@keyframes stretch {
  from {
    transform: translateY(0px)
  }
  to {
    transform: translateY(2px)
  }
}

@keyframes float {
  from {
    transform: translateY(4px)
  }
  to {
     transform: translateY(-4px)
  }
}