arrow-size = 4px;

.tool-tip {
  top: -2px
  position: absolute;
  background: white;
  border-radius: 3px;
  padding: 4px 8px;
  font-size: 12px;
  line-height: 14px;
  visibility: hidden;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
  color: color-medium-gray;

  &::after{
    box-sizing: border-box;
    content: "";
    position: absolute;
    left: "calc(50% - %s)" % 6px;
    top: 22px;
    border: arrow-size solid black;
    border-color: transparent transparent white white;
    transform-origin: 0 0;
    transform: rotate(-45deg);
    box-shadow: -1px 1px 0px 0 rgba(0, 0, 0, 0.2);
  }
}
