color-brown = #5E4634;
color-orange = #FF7555;
color-dark-gray = #222222;
color-medium-gray = #666666;
color-light-gray = #AAAAAA;
color-lightest-gray = #CCCCCC;

stats-panel-arrow-size = 10px;
stats-panel-offset = 10px;
