body {
  font-family: roboto
  display: flex
  padding: 0
  margin: 0
  overflow: hidden
}

#app {
  display: flex;
  flex: 1
  flex-direction: column
  justify-content: center
  align-items: center

  .container {
    position: relative;
  }
}

.content {
  top: -64px
  position: relative
  display: flex
  flex-flow: column
  align-items: center
  
  .title {
    color: #222222
    font-size: 64px
    line-height: 68px
    margin: 0
  }
  
  .message {
    color: #5E4634
    font-size: 15px
    line-height: 24px
    opacity: 0.6
    
    a {
      color: #5E4634
    }
  }
}

.footer {
  position: fixed
  bottom: 0
  left: 0
  right: 0
  display: flex
  justify-content: center
  background-color: white
  opacity: 0.8
  padding: 28px
  font-size: 18px
  line-height: 24px
  box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, .1)
  
  .text, a {
    color: #5E4634
  }
  
  .arrow {
    text-decoration: none
  }
}

.island:not(.mid) {
  position: absolute
  z-index: -1
  
  &.pond {
    top: -304px
    left: -404px
  }
  
  &.tree {
    top: 400px
    left: -500px
  }

  &.trees {
    left: 1056px
    top: -56px
  }
  
  &.tent {
    left: 692px
    top: 536px
  }
  
  &.small-island {
    z-index: -2
    height: 82px
    width: 102px
  }
  
  // Center
  &.small-1 {
    left: 732px
    top: -96px
  }
  
  &.small-2 {
    left: -120px
    top: -64px
  }
  
  &.small-3 {
    left: 120px
    top: 64px
  }
  
  &.small-4 {
    left: 36px
    top: 540px
  }
  
  // Left side
  &.small-5 {
    left: -800px
    top: 440px
  }
  
  &.small-6 {
    left: -456px
    top: 120px
  }
  
  &.small-7 {
    left: -880px
    top: -128px
  }
  
  // Right side
  &.small-8 {
    left: 1400px
    top: 600px
  }
  
  &.small-9 {
    left: 1000px
    top: 320px
  }
}

.cloud {
  z-index: -3
  position: absolute
  left: 0
  top: 0
  transform: scale(2)

  &.cloud-1 {
    left: -304px
    top: -256px
  }
  
  &.cloud-2 {
    left: -280px
    top: 400px
  }
  
  &.cloud-3 {
    left: 1056px
    top: -56px
  }
  
  &.cloud-4 {
    left: 784px
    top: 504px    
  }

  &.small {
    display: none
    z-index: -4
    transform: scale(0.5)
      
    // center
    &.cloud-1 {
      left: 732px
      top: -96px
    }
    
    &.cloud-2 {
      left: -120px
      top: -64px
    }
    
    &.cloud-3 {
      left: 120px
      top: 64px
    }
    
    &.cloud-4 {
      left: -24px
      top: 480px
    }
    
    // Left side
    &.cloud-5 {
      left: -800px
      top: 440px
    }
    
    &.cloud-6 {
      left: -456px
      top: 120px
    }
    
    &.cloud-7 {
      left: -880px
      top: -128px
    }
    
    // Right side
    &.cloud-8 {
      left: 1400px
      top: 600px
    }
    
    &.cloud-9 {
      left: 1000px
      top: 320px
    }
  }
}

.add-btn {
  background: #FFFFFF
  border: 2px dashed #5E4634
  border-radius: 30px
  width: 240px
  height: 50px
  text-align: center
  font-family: Roboto-Bold
  font-size: 18px
  color: #FF7555
  line-height: 48px
  text-transform: uppercase
  transition: all 100ms ease-in-out
  cursor: pointer
  text-decoration: none
  display: block
  
  &:hover {
    color: white
    background-color: #5E4634
    border: 2px solid #5E4634
  }
}

.island, .leaves, .lines, .stretch, .small-island {
  animation-duration: 1500ms
  animation-name: float
  animation-iteration-count: infinite
  animation-timing-function: ease-in-out
  animation-direction: alternate
  animation-play-state: running
  overflow: visible
}

.leaves {
  width: 500px
  animation-delay: 340ms
}

.lines {
  animation-delay: 100ms
}

.stretch {
  animation-name: stretch;
  animation-delay: 140ms
}

.small-island {
  animation-duration: 2000ms
}

@keyframes stretch {
  from {
    transform: translateY(0px)
  }
  to {
    transform: translateY(2px)
  }
}

@keyframes float {
  from {
    transform: translateY(4px)
  }
  to {
     transform: translateY(-4px)
  }
}